main {
	display: grid;
	grid-template-rows: .25fr 1fr;
}

.images {
	display: flex;
	justify-content: center;
	align-items: center;
}

.images img {
	margin: 10px;
	border-radius: 10px;
	border: 2px pink dashed;
}

.title-area {
	color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size:4rem;

}
