* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://i.pinimg.com/originals/73/7d/e0/737de0f47bbf7015bd13033150b2797b.jpg");
}

main {
	display: grid;
	grid-template-rows: 0.25fr 1fr;
}

.images {
	display: flex;
	justify-content: center;
	align-items: center;
}

.images img {
	margin: 10px;
	border-radius: 100px;
	border: 3px limegreen dashed;
}

.title-area {
	color: limegreen;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Quicksand", sans-serif;
	font-size: 4rem;
}

.cat {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.cat :hover{
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.dog {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.dog :hover{
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.horse{
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.horse :hover{
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
	16.65% {
	  -webkit-transform: skew(-12deg);
	  transform: skew(-12deg);
	}
	33.3% {
	  -webkit-transform: skew(10deg);
	  transform: skew(10deg);
	}
	49.95% {
	  -webkit-transform: skew(-6deg);
	  transform: skew(-6deg);
	}
	66.6% {
	  -webkit-transform: skew(4deg);
	  transform: skew(4deg);
	}
	83.25% {
	  -webkit-transform: skew(-2deg);
	  transform: skew(-2deg);
	}
	100% {
	  -webkit-transform: skew(0);
	  transform: skew(0);
	}
  }
  @keyframes hvr-wobble-skew {
	16.65% {
	  -webkit-transform: skew(-12deg);
	  transform: skew(-12deg);
	}
	33.3% {
	  -webkit-transform: skew(10deg);
	  transform: skew(10deg);
	}
	49.95% {
	  -webkit-transform: skew(-6deg);
	  transform: skew(-6deg);
	}
	66.6% {
	  -webkit-transform: skew(4deg);
	  transform: skew(4deg);
	}
	83.25% {
	  -webkit-transform: skew(-2deg);
	  transform: skew(-2deg);
	}
	100% {
	  -webkit-transform: skew(0);
	  transform: skew(0);
	}
  }
  .hvr-wobble-skew {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
	-webkit-animation-name: hvr-wobble-skew;
	animation-name: hvr-wobble-skew;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }
  
